/*
 * import des styles
*/
@import "./reset.css";
@import "./style.css";
@import "./themes/bleu_vert.css";

/*style des lien Exercice */
a {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid;
    display: block;
    padding: 10px;
    margin: 10px 0px;
    text-decoration: none;
}
