@import "theme_orangeBlue.css";
@import "reset.css";

body{
    background-color: var(--background-color);
    margin: 100px 20%;
}

h1{
    color: var(--text-color);
    text-transform: uppercase;
}

a{
    font-size: 24px;
    font-weight: bold;
    border: 1px solid;
    display: block;
    padding: 10px;
    margin: 10px 0px;
    text-decoration: none;
    color: var(--text-color);
    
}

a:hover{
    background-color: var(--text-color);
    color: var(--text-color-hover);
    transition: background-color 0.7s;
}

p{
    color: white;
}