@font-face {
    font-family: "Permanent Marker";
    src: url(/assets/fonts//PermanentMarker-Regular.ttf);
}

h1 {
    color: var(--text-color);
    text-transform: uppercase;
}

body {
    background-color: var(--background-color);
    margin: 100px 20%;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
}

article {
    background-color: var(--background-dark);
    border: 10px outset var(--text-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-family: "Permanent Marker";
    font-size: 2em;
}

section{
    display: flex;
}

div{
    margin: 50px;
    border: 3px solid var(--text-color);
}


hr{
    position: relative;
    top: -50px;
    width: 100px;
}
p{
    text-align: center;
}
a {
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}

a:hover {
    background-color: var(--text-color);
    color: var(--text-color-secondary);
    transition: background-color 0.7s;
    border: 1px solid var(--text-color-secondary);
}

span {
    color: var(--text-color-secondary);
    font-weight: initial;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

footer p {
    color: var(--text-color);
    text-align: center;
}