@import "../reset.css";
@import "../style.css";
@import "../themes/orange_blue.css";

div{
    position: absolute;
    height: 20px;
    width: 20px;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-out;
}

div:nth-child(1){
    top: 150px;
    left: 700px;
}

div:nth-child(2){
    top: 150px;
    left: 750px;
    animation-delay: 1s;
}

div:nth-child(3){
    top: 150px;
    left: 800px;
    animation-delay: 1.5s;
}

div:nth-child(4){
    top: 150px;
    left: 850px;
    animation-delay: 2s;
}

@keyframes rotate {
    0%{
        background-color: hsl(0, 100%, 50%);
    }
    15%{
        background-color: hsl(53, 100%, 50%);
        top: 150px;
        left: 350px;
        transform: rotate(0turn);
    }
    35%{
        background-color: hsl(120, 100%, 50%);
        top: 600px;
        left: 350px;
        transform: rotate(5turn);
    }
    65%{
        background-color: hsl(240, 100%, 50%);
        top: 600px;
        left: 1450px;
        transform: rotate(50turn);
    }
    85%{
        background-color: hsl(314, 100%, 50%);
        top: 150px;
        left: 1450px;
        transform: rotate(0turn);
    }
    100%{
        background-color: hsl(67, 100%, 50%);
    }
}